*{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Kola-Regular', sans-serif;
}
.main-container {
    max-width: 1920px;
    margin: 0 auto; /* zentriert es auf der Seite */
}
header{
    background-color: #898989;
    color: white;
    height: 84px;
    padding: 24px;
    display: flex;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    justify-content: space-between;
    align-items: center;
}
header img{
    width: 64px;
    height: 64px;
}